<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suiste SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Single Thread Test">
    <listeners>
        <listener class-name="com.findeks.kkb.listener.Listener"/>
    </listeners>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.findeks.kkb.test.FindeksTest"/>
        </classes>
    </test>
</suite>